<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29357339679-i43oj6r9fvc91ge40p8irkchup3bmidj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29357339679-i43oj6r9fvc91ge40p8irkchup3bmidj</string>
	<key>API_KEY</key>
	<string>AIzaSyAUUlTOKa8_4oGiW_uJIS8QfHppjOHUGv0</string>
	<key>GCM_SENDER_ID</key>
	<string>29357339679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spiritualGpt</string>
	<key>PROJECT_ID</key>
	<string>spiritual-gpt-b4716</string>
	<key>STORAGE_BUCKET</key>
	<string>spiritual-gpt-b4716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29357339679:ios:09017c35f2e72de98ad12a</string>
</dict>
</plist>